	
	
	<h2>

		<b>Title: </b>	<%= @product.title %>
	</h2>		
<table>
	<tr>
		
	<td>
		<%= image_tag @product.image_url.to_s %>

	</td>
	<td>

	<b>Discription: </b>	
		<%= truncate(strip_tags(@product.description),length: 80) %>
	</td>


	</tr>


</table>

 <fieldset>
  <legend>Comments:</legend>
  
 </fieldset>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
